
<% errors.forEach(function(message) { %>
  <div class="floating-alerts">
    <div class="alert alert-danger text-center floating-alert shadow-sm"><%= message %></div>
  </div>
<% }) %>

<% success.forEach(function(message) { %>
  <div class="floating-alerts">
    <div class="alert alert-success text-center floating-alert shadow-sm"><%= message %></div>
  </div>
<% }) %>

