
  <!-- ############--Post Structure--############ -->      
  <div class="mb-2">
    <div class="item-container" >
      <div class="activityCoverPhotoContainer">
          <img class="activityCoverPhoto" src="/images/not-available.jpg" alt="">
      </div>
      </div>
  </div>
<!-- ######################## -->
