<div style="display: flex;flex-wrap: wrap;">
    <div class="col-lg notVisibleOnCollapse" >
    </div>
    <div class="col-lg-9 pt-1" >
        <div class="">
            <div style="width: 100%;position: relative;">
                <%if(user.accountType=="admin"){%>
                    <img class="home-cover-image" src="/images/admin-cover.png"/>
                <%}else if(user.accountType=="societyController"){%>
                    <img class="home-cover-image" src="/images/societyController-cover.png"/>
                <%}else if(user.accountType=="postController"){%>
                    <img class="home-cover-image" src="/images/postController-cover.png"/>
                <%}else if(user.accountType=="videoEditor"){%>
                    <img class="home-cover-image" src="/images/videoEditor-cover.png"/>
                <%}%>
                <div>
                <img class="home-profile-image" src="/image/profile/medium/profile-<%=user.regNumber%>" />
                <div>
                    <h5 class="bolder text-secondary d-inline"><strong><%=user.userName%></strong></h5>
                    <h5 class="bolder d-inline float-right">
                    <i class="fas fa-user"></i> <%=user.accountType%></h5>
                </div>  
                </div>
            </div> 
            <hr>
        </div>