
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-2" >
    <div class="row">
      
      <%departments.forEach((department)=>{%>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <a href="/department/<%=department.departmentCode%>/details" style="display: block; text-decoration: none;">
            <div class="department-container" style=" background-color:rgb(91, 126, 126)">
              <div class="department-title"><%=department.departmentName%></div>
            </div>
          </a>
        </div>
      <%})%>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(91, 126, 126) ">
          <div class="department-title">Botany</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(143, 171, 34) ">
          <div class="department-title">Chemistry</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(6, 64, 64) ">
          <div class="department-title">Computer Science</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(39, 91, 159) ">
          <div class="department-title">Computer Application</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(6, 66, 66) ">
          <div class="department-title">Nepali</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(224, 166, 31) ">
          <div class="department-title">English</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(47, 140, 30) ">
          <div class="department-title">Physics</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="department-container" style=" background-color:rgb(228, 41, 69) ">
          <div class="department-title">Geography</div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>