<%- include('includes/header') %> 
<%- include('includes/flash') %>

    <div style="display: flex;flex-wrap: wrap;">
      <div class="col-lg notVisibleOnCollapse" >
      </div>
      <div class="col-lg-9 pt-1" >
        <div class="">
          <div style="width: 100%;position: relative;">
            <img class="department-batch-group-cover-image" src="/images/sponsor-banner3.png" width="1000" height="250"/>
            <div class="text-center">
              <h5>
                <strong>
                  <span class="text-primary" > Department : Bengali</span>
                </strong>
              </h5>  
            </div>
          </div>  
          <hr>
          <div class="d-flex justify-content-center">
            <a href="/batch"><span class="button">First Year Batch</span></a>
            <a href=""><span class="button">Second Year Batch</span></a>
            <a href=""><span class="button">Seniours Batch</span></a>
          </div>
          <hr>
        </div>
        <h5 class="text-primary text-center"><strong >Department's Previous Details</strong></h5>
        <hr>
        <div class="item-container path">
          <strong><h5>All X/Previous Batches (4)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div style="display: flex;    flex-wrap: wrap;">
              <div class="col-md-6 left-member-container pb-2" >
                  <div class="btn btn-block btn-warning btn-sm">Batch 2020-2021</div>
                  <div class="btn btn-block btn-warning btn-sm">Batch 2021-2022</div>
              </div>
              <div class="col-md-6 right-member-container" >
                <div class="btn btn-block btn-warning btn-sm">Batch 2020-2021</div>
                <div class="btn btn-block btn-warning btn-sm">Batch 2020-2021</div>
              </div>
            </div>
        </div>
        <hr>
        <div class="item-container path">
          <strong><h5>All Previous Leaders (4)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div style="display: flex;    flex-wrap: wrap;">
              <div class="col-md-6 left-member-container" >
                  <div class="member-container align-items-center">
                    <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                      <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                  </div>
                  <div class="member-container align-items-center">
                    <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                      <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                  </div>
              </div>
              <div class="col-md-6 right-member-container" >
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                    <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                  
                </div>
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                    <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="item-container path">
          <strong><h5>All Previous Members (4)</h5></strong>
            <hr style="margin-bottom: .85rem;margin-top: 0rem;">
            <div style="display: flex;    flex-wrap: wrap;">
              <div class="col-md-6 left-member-container" >
                  <div class="member-container align-items-center">
                    <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                      <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                    
                  </div>
                  <div class="member-container align-items-center">
                    <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                    <div class="name-container">
                      <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                      <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                    </div>
                    
                  </div>
              </div>
              <div class="col-md-6 right-member-container" >
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                    <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                  
                </div>
                <div class="member-container align-items-center">
                  <img class="member-avatar"  src="/images/sohag.jpg" alt="">
                  <div class="name-container">
                    <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/">Sohag Roy</a></strong>
                    <strong class="d-block float-right" style="color: rgb(6, 0, 0);"><i class="fas fa-ellipsis-h"></i></strong>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="">
          <h5 class="bolder text-primary">All Previous Activities (10)</h5>
          <a href="/hello" class="d-block" style="text-decoration: none;">
            <div class="mt-2" style="display: flex;border-bottom: 1px solid gray;border-radius: 5px;background-color: #fff;">
              <div class="text-center" style="position: relative;">
                <img class="horizontal-activity-cover-photo"  src="/images/activity-banner.jpg" alt="">
                <div class="batch-no "><i class="fa-duotone fa-circle-play"></i></div>
              </div>
                <div style="width: 100%;" class="ml-2 mr-2">
                    <div  style="color: #080700;font-weight: 400;">
                      <span class="d-block text-primary"><strong>Batch Activity | Computer Science (2021-2022)</strong> </span>
                      <h5  class="d-block"><strong>First activity as campus tour ,enjoyed a lot | Campus tour</strong></h5>
                      <span  class="d-block"><strong><i>Conducted on 12 May 2022</i></strong></span>
                      <span  class="d-block"><strong><i>Published on 15 May 2022</i></strong></span>
                      <span>12 Likes | 15 Comments</span>
                    </div> 
                </div>
            </div>
          </a>
          <a href="/hello" class="d-block" style="text-decoration: none;">
            <div class="mt-2" style="display: flex;border-bottom: 1px solid gray;border-radius: 5px;background-color: #fff;">
              <div class="text-center" style="position: relative;">
                <img class="horizontal-activity-cover-photo"  src="/images/activity-banner.jpg" alt="">
                <div class="batch-no "><i class="fa-duotone fa-circle-play"></i></div>
              </div>
                <div style="width: 100%;" class="ml-2 mr-2">
                    <div  style="color: #080700;font-weight: 400;">
                      <span class="d-block text-primary"><strong>Batch Activity | Computer Science (2021-2022)</strong> </span>
                      <h5  class="d-block"><strong>First activity as campus tour ,enjoyed a lot | Campus tour</strong></h5>
                      <span  class="d-block"><strong><i>Conducted on 12 May 2022</i></strong></span>
                      <span  class="d-block"><strong><i>Published on 15 May 2022</i></strong></span>
                      <span>12 Likes | 15 Comments</span>
                    </div> 
                </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg notVisibleOnCollapse" >
      </div>
    </div>
    
    <%- include('includes/footer') %>
