<%- include('includes/header') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col" ></div>
  <div class="col-lg-8 text-center" style="margin-bottom: 2rem;margin: 0;padding: 0;" >
    <%- include('includes/flash') %>
    <div class="logIn-form-container mt-4 mb-4 text-center">   
      <h2 class="bolder">Forgot Password Form</h2>
      <hr>
      <p><strong class="text-info text-center">[Give your registered email id.You will receive an OTP for authentication purpose.]</strong></p>
      <hr>
      <form action="/sent-new-otp" method="post" class="">
        <input name="email" class="form-control form-control-lg space" type="email" placeholder="Enter Registered Email Id" required  autocomplete="off">
        <br>
        <button class="btn btn-info btn-block btn-lg">Sent OTP</button>
      </form>
      <hr>
      <div id="accordion">
        <div class="">
          <div class="" id="headingOne">
            <h5 class="mb-0">
              <div class="btn btn-block btn-secondary text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <strong> OTP already received ?</strong>
              </div>
            </h5>
          </div>
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form action="/reset-password-otp-received" method="post" >
                <p><strong class="text-primary">[Fill up this form,if you got an OTP but some how get out of the reset password page.]</strong></p>
                <input name="email" class="form-control form-control-lg space" type="email" placeholder="Enter email-Id" required autocomplete="off">
                <button class="btn btn-block btn-md btn-primary">Go to reset password form</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" ></div>
</div>
<%- include('includes/footer') %>