<%- include('includes/header') %>
<%- include('includes/flash') %>



<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1">
  </div>

  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>One Lession At A Time</h1>
      <p>One step ahead to make your performance batter.</p>
    </div>
    <hr>
    <div class=" mt-2 mb-2" style="padding: 10px 10px;">
      <div class="path text-center" style="padding: 1rem;">
          <div class="row" >
            <div class="col-sm-4">
              <a href="/recent-activities">
                <div class="btn btn-outline-info btn-sm btn-block"><strong>See all campus groups <i class="fas fa-arrow-right"></i></strong></div>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="/search-home-tutor">
                <div class="btn btn-outline-warning btn-sm btn-block"><strong>Search for home-tutor <i class="fas fa-arrow-right"></i></strong></div>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="/recent-activities">
                <div class="btn btn-outline-info btn-sm btn-block"><strong>See all activities of NBU community <i class="fas fa-arrow-right"></i></strong></div>
              </a>
            </div>
          </div>
      </div>
    </div>
     
<hr>
  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder ">Current Batch Activities :</h5>
    <div class="teacher-banner-container pb-2">
        <a href="" style="text-decoration: none;">
          <div class="activity-link-container-small">
            <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
              <span class="d-block">Dept - Bengali (2021-2022)</span>
              <i class="d-block">Published On 12 May 2022.</i>
            </div>
          </div>
        </a>
        <a href="" style="text-decoration: none;">
          <div class="activity-link-container-small">
            <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
              <span class="d-block">Dept - Bengali (2021-2022)</span>
              <i class="d-block">Published On 12 May 2022.</i>
            </div>
          </div>
        </a>
        <a href="" style="text-decoration: none;">
          <div class="activity-link-container-small">
            <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
              <span class="d-block">Dept - Bengali (2021-2022)</span>
              <i class="d-block">Published On 12 May 2022.</i>
            </div>
          </div>
        </a>
        <a href="" style="text-decoration: none;">
          <div class="activity-link-container-small">
            <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
              <span class="d-block">Dept - Bengali (2021-2022)</span>
              <i class="d-block">Published On 12 May 2022.</i>
            </div>
          </div>
        </a>

        
        <a href="" style="text-decoration: none;">
        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Bengali (2021-2022)</span>
            <i class="d-block">Published On 12 May 2022.</i>
          </div>
        </div>
        </a>
      
    </div>
  </div>
<hr>

  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder text-">Department Activities :</h5>
    <div class="teacher-banner-container pb-2">
     
        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Computer Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Computer Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Computer Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Computer Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>


        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Dept - Computer Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>
      
    </div>
  </div>
    
  <hr>
  <div class=" item-container mb-1" style="background-color:#f0f2f5 ;">
    <h5 class="bolder text-">Group Activities :</h5>
    <div class="teacher-banner-container pb-2">
     
        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
            <span class="d-block">Group - Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
           <span class="d-block">Group - Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
           <span class="d-block">Group - Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
           <span class="d-block">Group - Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>

        

        <div class="activity-link-container-small">
          <img class="activity-cover-image"  src="/images/activity-banner.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <span class="d-block"><strong>Taking a campus tour with all friends | Campus Tour </strong></span>
           <span class="d-block">Group - Science </span>
            <i class="d-block">Published On 12 May 2022.</i>
            <a href="#">
              <div class="class btn btn-outline-primary btn-sm btn-block">
              Activity details
            </div></a>
          </div>
        </div>
      
    </div>
  </div>
  
   
  </div>
  <div class="col-lg-1"></div>
</div>


  




  
<%- include('includes/footer') %>