<%- include('includes/header') %>
<%- include('includes/flash') %>



<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>One Lession At A Time</h1>
      <p>One step ahead to make your performance batter.</p>
    </div>
  

    
  
  <hr>
  <div class="container mt-2 mb-2" style="padding: 0px;">
    <div class="path text-center" style="padding: 1rem;">
        <div class="col" style="width: 100%;">
          <a href="/#">
            <div class="btn btn-outline-info btn-sm btn-block"><strong>See all top activities of NBU community<i class="fas fa-arrow-right"></i></strong></div>
          </a>
        </div>
    </div>
  </div>
  <hr>
   <!-- Important persons says part starts here -->
  <div class="container">
   <div class="row">
    <div class="col-md-6  text-muted">
      <h4 class="bolder"><strong >President's Say :</strong></h4>
      
      <div class="item-container shadow" style="background-color:#f0f2f5 ;">
        <div class="text-center">
          <img class="profile-image mt-2" src="/images/sohag.jpg" />
          <h5 class="bolder text-primary">
            <strong>Sohag Roy</strong>
          </h5>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, veniam ratione repellendus ex laboriosam a laudantium, sint maiores quae deleniti cum explicabo delectus consectetur. Inventore mollitia nihil nobis saepe praesentium veniam, quaerat, necessitatibus id magni officiis, unde sequi tempora ipsam earum est. Totam, nostrum. Numquam at excepturi odio quia sit.</p>
      </div>
      <hr style="margin: 8px;" class="visibleItemsOnCollapse">     
    </div>
    <div class="col-md-6 text-muted">
      <h4 class="bolder"><strong >Vice-president's Say :</strong></h4>
      <div class="item-container shadow" style="background-color:#f0f2f5 ;">
        <div class="text-center">
          
          <img class="profile-image mt-2" src="/images/sohag.jpg" />
          <h5 class="bolder text-primary">
            <strong>Sohag Roy</strong>
          </h5>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, veniam ratione repellendus ex laboriosam a laudantium, sint maiores quae deleniti cum explicabo delectus consectetur. Inventore mollitia nihil nobis saepe praesentium veniam, quaerat, necessitatibus id magni officiis, unde sequi tempora ipsam earum est. Totam, nostrum. Numquam at excepturi odio quia sit.</p>
      </div>
    </div>
   </div>
   </div>
   <!-- saying part ends here -->
  </div>
  <div class="col-lg-1"></div>
</div>


  




  
<%- include('includes/footer') %>