<%- include('includes/header') %>
<div class="container container--narrow" style="height: 50vh;">
  <h3>this is for activity perticipents selection page.</h3>
  
</div>

<%- include('includes/footer') %>