<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-7 pt-1  pb-2" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sponsor-banner.png"/>
        <div>
          <img class="home-profile-image" src="/images/sohag.jpg" />
          <div>
            <h5 class="bolder text-secondary d-inline"><strong>Sohag Roy</strong></h5>
            <h5 class="text-info d-inline float-right"><i class="fas fa-user"></i> Go to Profile</h5>
          </div>  
        </div>
      </div> 
    <hr>  
    </div>
    <div  class="row">
      <div class="col-lg-6" >
        <div class="item-container mb-2">
          <strong><p>Identity</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          
          <p><i class="fas fa-home"></i> <strong> Name - </strong> <span class="text-capitalize">Sohag Roy</span></p>
          <p><i class="fas fa-graduation-cap"></i><strong> Department - </strong>Computer Science</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Session Year - </strong> 2021-2022</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Credit Points - </strong> 105</p>
        
        </div>
      </div>
      <div class="col-lg-6 " >
        <div class="item-container mb-2">
          <strong><p>Leading History</p></strong>
          <hr style="margin-bottom: .25rem;margin-top: 0rem;">
          
          <p><i class="fas fa-home"></i> <strong> Batch Lead - </strong>2 times </p>
          <p><i class="fas fa-graduation-cap"></i><strong> Department Lead - </strong>1 time</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Academic Group Lead - </strong>No</p>
          <p><i class="fas fa-map-marker-alt"></i><strong> Activity Group Lead/Member - </strong>2</p>
        
        </div>
      </div>
    </div>

    <div class="item-container">
      <strong><p>Activity History</p></strong>
      <hr style="margin-bottom: .25rem;margin-top: 0rem;">
      <h5 class="bolder text-success">Sohag Roy has completed 3 activities as a leader and he has participated other 5 activities as an active member.</h5>
    </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>




<hr>



<%- include('includes/footer') %>