<%- include('includes/header') %>
<%- include('includes/flash') %>

<div class="container" style="height: 50vh;" >
  <h4 class="text-center mt-4"><strong>This is Video Editor's home page!!</strong></h4>
  <h4 class="text-center mt-4"><strong>Video Editor's name is : </strong><i><%=user.userName%></i></h4>
</div>

<%- include('includes/footer') %>